# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
  ]
  '.tree-view .file': [
  # '.tree-view .file .name[data-name$=\\.exe], .tree-view .file .name:not([data-name*="\\."]': [
  ]
